<navbar></navbar>
<div class="main-container">
	<div class="left-container">

		<button ui-sref="project({project:'goodjar'})" class="left-nav-item main-left-nav-btn">work</button> 

		<div class="profile-image-container">
			<img class="profile-image" src="../public/assets/Profile.png" alt="Viviana's Headshot"/>
		</div>
	</div>
	<div class="right-container">
		<ul id="project-list">
			<li ng-click="vm.goToVid('goodjar')" class="project-title mustard">GoodJar</li>
			<li ng-click="vm.goToVid('laundryvirgins')" class="project-title grey">LaundryVirgins</li>
			<li ng-click="vm.goToVid('gathering')" class="project-title dark-grey">Gathering</li>
			<li ng-click="vm.goToVid('belliesinconcert')" class="project-title grey">BelliesInConcert</li>
			<li ng-click="vm.goToVid('mitide')" class="project-title dark-grey">MiTide</li>
			<li ng-click="vm.goToVid('osito')" class="project-title grey">Osito</li>
			<li ng-click="vm.goToVid('snapchatworlds')" class="project-title mustard">SnapchatWorlds</li>
			<li ng-click="vm.goToVid('truedirt')" class="project-title grey">TrueDirt</li>
			<li ng-click="vm.goToVid('mas')" class="project-title dark-grey">Mas</li>
			<li ng-click="vm.goToVid('vanguardgrandma')" class="project-title mustard">VanguardGrandma</li>
			<li ng-click="vm.goToVid('lullaby')" class="project-title grey">Lullaby</li>
			<li ng-click="vm.goToVid('washawaylabels')" class="project-title dark-grey">WashAwayLabels</li>
			<li ng-click="vm.goToVid('gnomes')" class="project-title grey">Gnomes</li>
			<li ng-click="vm.goToVid('teddy')" class="project-title mustard">Teddy</li>
		</ul>

		<summary></summary>
	</div>

</div>