<navbar></navbar>
<div class="main-container">
	<div class="left-container">
		<div class="profile-image-container">
			<img class="profile-image" src="../public/assets/Profile.png" alt="Viviana's Headshot"/>
		</div>
	</div>
	<div class="right-container">
		<ul id="project-list">
			<li ng-click="vm.goToVid('goodjar')" class="project-title mustard">GoodJar</li>
			<li ng-click="vm.goToVid('laundryvirgins')" class="project-title grey">LaundryVirgins</li>
			<li ng-click="vm.goToVid('gathering')" class="project-title dark-grey">Gathering</li>
			<li ng-click="vm.goToVid('belliesinconcert')" class="project-title grey">BelliesInConcert</li>
			<li ng-click="vm.goToVid('mitide')" class="project-title dark-grey">MiTide</li>
			<li ng-click="vm.goToVid('osito')" class="project-title grey">Osito</li>
			<li ng-click="vm.goToVid('snapchatworlds')" class="project-title mustard">SnapchatWorlds</li>
			<li ng-click="vm.goToVid('truedirt')" class="project-title mustard">TrueDirt</li>
			<li ng-click="vm.goToVid('mas')" class="project-title dark-grey">Mas</li>
			<li ng-click="vm.goToVid('vanguardgrandma')" class="project-title grey">VanguardGrandma</li>
			<li ng-click="vm.goToVid('lullaby')" class="project-title dark-grey">Lullaby</li>
			<li ng-click="vm.goToVid('washawaylabels')" class="project-title dark-grey">WashAwayLabels</li>
			<li ng-click="vm.goToVid('cat')" class="project-title grey">Cat</li>
		</ul>
	</div>
</div>