/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#navbar {
  width: 80vw;
  margin: 0 10vw;
  padding: 6vh 0 2px 0;
  font-size: 26px; }
  @media (max-width: 380px) {
    #navbar {
      font-size: 23px;
      margin: 0 6vw; } }

#navbar-title {
  display: inline-block;
  cursor: pointer; }
  #navbar-title:hover {
    color: #C8A92E; }
  @media (max-width: 340px) {
    #navbar-title {
      display: block;
      font-size: 18px; } }

.main-container {
  display: flex;
  height: 88vh; }

.left-container {
  width: 10vw;
  height: 80vh;
  position: relative; }
  @media (max-width: 380px) {
    .left-container {
      display: none; } }

.right-container {
  width: 80vw;
  height: 80vh;
  border-top: 2px solid #C8A92E;
  border-left: 2px solid #C8A92E;
  position: relative; }
  @media (max-width: 380px) {
    .right-container {
      width: 100vw;
      border-left: none;
      height: 85vh; } }

#project-list {
  margin: 40px 0 0 20px; }
  @media (max-width: 340px) {
    #project-list {
      margin: 20px 0 0 10px; } }

.project-title {
  display: inline-block;
  font-size: 35px;
  margin: 2px;
  cursor: pointer; }
  @media (max-width: 750px) {
    .project-title {
      font-size: 26px; } }
  @media (max-width: 416px) {
    .project-title {
      font-size: 22px; } }
  @media (max-width: 380px) {
    .project-title {
      display: block;
      font-size: 22px; } }
  @media (max-width: 340px) {
    .project-title {
      font-size: 16px; } }

.mustard {
  color: #C8A92E; }
  .mustard:hover {
    color: #404040; }

.dark-grey {
  color: #404040; }
  .dark-grey:hover {
    color: #C8A92E; }

.grey {
  color: #7F7F7F; }
  .grey:hover {
    color: #C8A92E; }

.profile-image-container {
  width: 10vw;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0; }

.profile-image {
  height: 60px;
  width: 60px;
  margin-right: 10px; }
  @media (max-width: 800px) {
    .profile-image {
      display: none; } }

#summary-list {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 13px; }
  @media (max-width: 380px) {
    #summary-list {
      margin: 0 15px;
      left: 0; } }

@media (max-width: 770px) {
  .summary-item {
    font-size: 10px; } }

@media (max-width: 380px) {
  .summary-item {
    font-size: 9px; } }

.left-nav-item {
  vertical-align: top;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 2px 4px;
  cursor: pointer;
  color: #C8A92E;
  font-size: 16px;
  border: none;
  background-color: white; }
  .left-nav-item:hover {
    color: #404040; }
  .left-nav-item:active, .left-nav-item:focus {
    outline: none; }

.main-left-nav-btn {
  position: absolute;
  right: -10px;
  top: 60px; }

.home-left-nav {
  right: -12px; }

#video-row {
  display: flex; }

.video-frame {
  display: block;
  width: 65vw;
  height: 60vh;
  background-color: black;
  margin-top: 10px; }
  @media (max-width: 380px) {
    .video-frame {
      width: 80vw; } }

.video-title {
  width: 65vw;
  margin: 10vh auto 0 auto;
  display: block;
  font-size: 18px;
  color: #C8A92E; }
  @media (max-width: 380px) {
    .video-title {
      width: 80vw; } }
  @media (max-width: 330px) {
    .video-title {
      font-size: 14px; } }

.video-arrow-div {
  margin-top: 10px;
  width: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 380px) {
    .video-arrow-div {
      width: 10vw; } }

.video-arrow {
  color: #7F7F7F;
  font-size: 35px;
  height: 40px;
  width: 40px !important;
  padding: 0;
  border: none;
  background-color: white;
  justify-content: center;
  cursor: pointer; }
  .video-arrow:hover {
    color: #C8A92E; }
  .video-arrow:active, .video-arrow:focus {
    outline: none; }

/*# sourceMappingURL=main.css.map */