#project-list {
	margin: 40px 0 0 20px;

	@media (max-width: 340px) {
		margin: 20px 0 0 10px;
	}
}
.project-title {
	display: inline-block;
	font-size: 35px;
	margin: 2px;
	cursor: pointer;

 	@media (max-width: 750px) {
 		font-size: 26px;
 	}
 	@media (max-width: 416px) {
		font-size: 22px;
	}
	@media (max-width: 380px) {
		display: block;
		font-size: 22px;
	}
	@media (max-width: 340px) {
		font-size: 16px;
	}
}
.mustard {
	color: $mustard;

	&:hover {
		color: $dark-grey;
	}
}
.dark-grey {
	color: $dark-grey;

	&:hover {
		color: $mustard;
	}
}
.grey {
	color: $grey;

	&:hover {
		color: $mustard;
	}
}
.profile-image-container {
	width: 10vw;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
}
.profile-image {
	height: 60px;
	width: 60px;
	margin-right: 10px;

	@media (max-width: 800px) {
		display: none;
	}
}
#summary-list {
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-size: 13px;

	@media (max-width: 380px) {
		margin: 0 15px;
		left: 0;
	}
}
.summary-item {
	@media (max-width: 770px) {
		font-size: 10px;
	}
	@media (max-width: 380px) {
		font-size: 9px;
	}
}
.left-nav-item {
	vertical-align: top;
	-ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);
	padding: 2px 4px;
	cursor: pointer;
	color: $mustard;
	font-size: 16px; 
	border: none;
	background-color: white;
	
	&:hover {
		color: $dark-grey;
	}
	&:active, &:focus {
		outline: none;
	}
}
.main-left-nav-btn {
	position: absolute;
	right: -10px;
	top: 60px;
}
.home-left-nav {
	right: -12px;
}