#navbar {
	width: 80vw;
	margin: 0 10vw;
	padding: 6vh 0 2px 0;
	font-size: 26px;

	@media (max-width: 380px) {
		font-size: 23px;
		margin: 0 6vw;
	}
}
#navbar-title {
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: $mustard;
	}
	@media (max-width: 340px) {
		display: block;
		font-size: 18px;
	}
}
.main-container {
	display: flex;
	height: 88vh;
}
.left-container {
	width: 10vw;
	height: 80vh;
	position: relative;

	@media (max-width: 380px) {
		display: none;
	}
}
.right-container {
	width: 80vw;
	height: 80vh;
	border-top: 2px solid $mustard;
	border-left: 2px solid $mustard;
	position: relative;

	@media (max-width: 380px) {
		width: 100vw;
		border-left: none;
		height: 85vh;

	}
}
