#video-box {
	
}
#video-row {
	display: flex;
}
.video-frame {
	display: block;
	width: 65vw;
	height: 60vh;
	background-color: black;
	margin-top: 10px;

	@media (max-width: 380px) {
		width: 80vw;
	}
}
.video-title {
	width: 65vw;
	margin: 10vh auto 0 auto;
	display: block;
	// font-weight: bold;
	font-size: 18px;
	color: $mustard;

	@media (max-width: 380px) {
		width: 80vw;
	}
	@media (max-width: 330px) {
		font-size: 14px;
	}
}
.video-arrow-div {
	margin-top: 10px;
	width: 7.5vw;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 380px) {
		width: 10vw;
	}
}
.video-arrow {
	color: $grey;
	font-size: 35px;
	height: 40px;
	width: 40px !important;
	padding: 0;
	border: none;
	background-color: white;
	justify-content: center;
	cursor: pointer;

	&:hover {
		color: $mustard;
	}

	&:active, &:focus {
		outline: none;
	}
}